body{
    font-family:Arial, Helvetica, sans-serif;
    color:darkslategray;
}
body{
    /* Adding background image */
    background-image:url(../images/white_brick_wall\ \(1\).png);
}
.container{
    max-width: 1200px;
    /* Top-bottom-left-right */
    margin:0 auto;
}
img{
    width:100%;
}

/*This is a CSS comment */
h1{
    color:peru;
}
p{
    background-color: lightblue;
}
/* Selecting multiple element */
h1,
h2,
h3,
h4{
    text-decoration:underline;
}
/* Selecting child element */
nav ul{
    list-style: none;
}

nav ul li{
    background-color: coral;
    display:inline-block;
    width: 49%;
    padding:1em;
    box-sizing:border-box;
}
/* Selecting child element multiple levels */
nav ul a{
    color:dimgray
    text-decoration:none;
}

/* Direct child selector */
article{
    /* Css typography properties */
    font-size:24px;
    font-weight:bold;
    line-height:30px;
    text-transform:capitalize; 
    text-align: center;
}

/* CSS box model */
section p{
    width:50%;
    /* Top-bottom-left-right */
    padding:1em 5em;
    /* Top-right-bottom-left */
    margin:-1em 2em 2em 2em;
    border-bottom: 2px solid black; 
}

/* Example of float layout */
article,
aside{
    width:80%;
    background-color:cornflowerblue;
    border: 1px solid black;
    padding: 1.5em;
    box-sizing:border-box;
    float: left;
}
aside{
    width:20%;
}
section{
    clear:both;
}

/* Selecting element with id value */
#treatofweek{
    /* color image repeat position-x position-y; */
    background:chocolate url(../images/bread\ \(1\).jpeg) no-repeat center centerl;
    background-size:cover;

    color:white;

    font: size 1.25em;
    /* 1.25x16=20px */
    padding:1em 1em 4em 1em;
    /* 1x20=20px */

    /* viewport based unit */
    /* height:100vh; */

    width:50%
}

/* position-absolute*/
/* 0020 */
.orange-link.large-text{
    position:absolute;
    bottom:0;
    right:0;
}