/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------------------------
            Custom Styles
-----------------------------------*/

body{
    line-height:1.5;
}
*,
*:after,
*:before{
    box-sizing:inherit;
    line-height:inherit;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
/* Define font */
body{
font-family: 'Open Sans', sans-serif;
}

/* Styling the navigation */
.ul{
	background-color:#222 ;
	text-align: center;
	line-height: 3em;
}
.ul a {
	text-decoration: none;
	color:#c78c06;
}
.searchbar{
	width: 80%;
	height: 2.5em;
}
.ul button{
	background-color:#222;
	color:#c78c06;
	height: 2.5em;
	text-align: center;
	border: 1px solid #c78c06;
	margin-left: 0;
}
#logo{
	display:block;
}
ul li:nth-child(1){
	background-color: #c78c06;
}
/* Hover */
ul a:hover,
ul a:focus{
	display: block;
	background-color:#c78c06;
	color:#222;
}

/* Styling banner */
.banner{
	background-image: url("../images/main-banner.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}
h1{
	font-size: 3em;
	font-weight: 1000;
	color:white;
	padding-left: 20px;
}
.banner p{
	color: white;
	font-size: 12px;
	padding: 20px;
	padding-bottom: 40px;
}
/* Styling connect us box */
.banner a{
	background-color:#c78c06;
	color:#222;
	text-decoration: none;
	font-size:smaller;
	text-align: center;
	padding: 20px;
	padding-bottom: 40px;
}
/* Styling about us */
.aboutcontent{
	background-color:#ffe6ac;
	padding: 20px;
}
.aboutcontent h2{
	font-size: 25px;
	font-weight:bolder; 
	color:#222;
	padding-bottom:15px;
}
.aboutcontent p{
	font-size: 12px;
	color:#222;
	padding-bottom:10px
}
/* Style of the img */

/* Styling Our Services */
.servicecontent h2{
	font-size: 25px;
	font-weight:bolder; 
	color:#222;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 20px;
}
/* Digital transformation part */
.digital{
	font-size: 12px;
	color:#222;
	margin-bottom: 10px;
	margin-left:10px;
	background-color:#ffe6ac;
	background-size: cover;
}
.digital h3{
	font-size: 20px;
	font-weight:bolder; 
	color:#222;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 10px;
}
.digital p{
	font-size: 12px;
	padding-left: 10px;
	margin-top: 15px;
}
.digital a{
	background-color: #222;
	text-decoration: none;
	color: white;
	padding-left:10px;
	padding: 20px;
}
/* Marketing part */
.marketing{
	font-size: 12px;
	color:#222;
	margin-bottom: 10px;
	margin-left:10px;
	background-color:#ffe6ac;
	background-size: cover;
}
.marketing h3{
	font-size: 20px;
	font-weight:bolder; 
	color:#222;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 10px;
}
.marketing p{
	font-size: 12px;
	padding-left: 10px;
	margin-top: 15px;
}
.marketing a{
	background-color: #222;
	text-decoration: none;
	color: white;
	padding-left:10px;
	padding: 20px;
}

/* Video part */
.video{
	font-size: 12px;
	color:#222;
	margin-bottom: 10px;
	margin-left:10px;
	background-color:#ffe6ac;
	background-size: cover;
}
.video h3{
	font-size: 20px;
	font-weight:bolder; 
	color:#222;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 10px;
}
.video p{
	font-size: 12px;
	padding-left: 10px;
	margin-top: 15px;
}
.video a{
	background-color: #222;
	text-decoration: none;
	color: white;
	padding-left:10px;
	padding: 20px;
}

/* Web part */
.web{
	font-size: 12px;
	color:#222;
	margin-bottom: 10px;
	margin-left:10px;
	background-color:#ffe6ac;
	background-size: cover;
}
.web h3{
	font-size: 20px;
	font-weight:bolder; 
	color:#222;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 10px;
}
.web p{
	font-size: 12px;
	padding-left: 10px;
	margin-top: 15px;
}
.web a{
	background-color: #222;
	text-decoration: none;
	color: white;
	padding-left:10px;
	padding: 20px;
}

/* Print part */
.print{
	font-size: 12px;
	color:#222;
	margin-bottom: 10px;
	margin-left:10px;
	background-color:#ffe6ac;
	background-size: cover;
}
.print h3{
	font-size: 20px;
	font-weight:bolder; 
	color:#222;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 10px;
}
.print p{
	font-size: 12px;
	padding-left: 10px;
	margin-top: 15px;
}
.print a{
	background-color: #222;
	text-decoration: none;
	color: white;
	padding-left:10px;
	padding: 20px;
}

/* Styling Our Vision */
.visioncontent{
	background-image: url("../images/vision.jpg");
	background-size:cover;
	margin-bottom: 10px;
	background-color:#ffe6ac;
	background-size: cover;
}
.visioncontent h2{
	color: white;
	font-size: 25px;
	font-weight: bolder;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 10px;
}
.visioncontent p{
	color: whitesmoke;
	font-size: 12px;
	padding-bottom: 20px;
	margin-left: 10px;
}
.visioncontent a {
	background-color: #222;
	opacity: 0.8;
	text-decoration: none;
	color: white;
	padding-left:20px;
	padding: 20px;
	border:1px solid #c78c06;
}
/* Styling Our Team */
.teamcontent h2{
	color:#222;	
	font-size: 25px;
	font-weight:bolder; 
	color:#222;
	padding-bottom: 15px;
	padding-top: 20px;
	padding-left: 20px;
}
.team1 h3{
	color:#222;
	font-size: 18px;
	font-weight: bolder;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.team1 h4{
	color:#222;
	font-size: 12px;
	font-weight: bolder;
	padding-left: 20px;
	padding-bottom: 10px;
}
 .team1 p{
	color:#222;
	font-size: 12px;
	padding-bottom: 20px;
	margin-left: 17px;
}
.team1{
	font-size: 12px;
	color:#222;
	margin-left:10px;
	background-color:#ffe6ac;
	background-size: cover;
}

.team2 h3{
	color:#222;
	font-size: 18px;
	font-weight: bolder;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.team2 h4{
	color:#222;
	font-size: 12px;
	font-weight: bolder;
	padding-left: 20px;
	padding-bottom: 10px;
}
 .team2 p{
	color:#222;
	font-size: 12px;
	padding-bottom: 20px;
	margin-left: 17px;
}
.team2{
	font-size: 12px;
	color:#222;
	margin-left:10px;
	margin-top: 15px;
	margin-bottom: 60px;
	background-color:#ffe6ac;
	background-size: cover;
}
/* Styling Contact us */
.contactcontent h2{
	font-size: 30px;
	font-weight: bolder;
	padding-left:20px;
}
.message h3{
	font-size: 25px;
	font-weight:bold;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.message form{
	padding-left: 20px;
}
.message button{
	color:#c78c06;
	background-color: #222;
	border:1px solid #c78c06;
	margin-top: 15px;
}
/* Styling Hours Operation */
.hours h3{
	font-size: 25px;
	font-weight:bold;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.hours table{
	border: 1px solid #222;
	margin-left: 20px;
}

/* Styling location */
.location h3{
	font-size: 25px;
	font-weight:bold;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;	
}
.location iframe{
	margin-left: 20px;
}
/* Styling Footer */
.footer-content{
	background-color:#222;
	color:#c78c06;
	margin-top: 20px;
}
.footer-content li:nth-child(1){
	background-color:#222;
	color:#c78c06;
	margin-top: 20px;
}
.footer-content a{
	background-color:#222;
	color:#c78c06;
	margin-top: 20px;
}
